main {
  margin: 15px 0;
  color: #68696e;
  height: 555px;
  font-size: 14px;
}
h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
li {
  margin-bottom: 16px;
}
main .wrapper {
  padding: 48px 0;
}
.brend__lg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.brend__lg img {
  width: 70px;
}

.row {
  display: grid;
  justify-content: space-between;
  column-gap: 50px;
  grid-template-columns: repeat(3, minmax(min-content, 372px));
  justify-content: stretch;
  align-content: start;
}

.br {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}
.btnNaw {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}
.btnNaw button {
  width: 102px;
  height: 30px;
  border: none;
  background: #00b956;
  border-radius: 32px;
  margin-right: 21px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.stend {
  margin-bottom: 60px;
}
.stat {
  display: flex;
  margin-top: 94px;
  align-items: center;
}

.stat .btn {
  display: block;
  align-items: center;
  width: 85px;
  height: 40px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 32px;
  background: #fff;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #00b956;
  align-items: center;
  margin-right: 15px;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
}
.stat h2 {
  margin-bottom: 0px;
}
