main {
  margin: 15px 0;
  color: #68696e;
  min-height: 600px;
  font-size: 14px;
}
h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
li {
  margin-bottom: 16px;
}
main .wrapper {
  padding: 48px 0;
}
main li {
  display: flex;
  align-items: center;
}
li img {
  margin-right: 11px;
}
.brend__lg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 42px;
  width: 250px;
}

.brend__lg img {
  width: 60px;
}

.row {
  display: grid;
  justify-content: space-between;
  column-gap: 20px;
  grid-template-columns: repeat(3, minmax(min-content, 372px));
  justify-content: stretch;
  align-content: start;
}

.br {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}
.btnNaw {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}
.btnNaw button {
  width: 102px;
  height: 30px;
  border: none;
  background: #66cc99;
  border-radius: 32px;
  margin-right: 21px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.btnNaw button:hover {
  background: #6868c5;
  cursor: pointer;
}

.stend {
  margin-bottom: 60px;
}
.stat {
  display: flex;
  margin-top: 94px;
  align-items: center;
}

.stat .btn {
  display: block;
  align-items: center;
  width: 85px;
  height: 40px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 32px;
  background: #fff;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #66cc99;
  align-items: center;
  margin-right: 15px;
}

.stat .btn:hover {
  background-color: #6868c5;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
}
.stat h2 {
  margin-bottom: 0px;
}

#date {
  margin-left: 5px;
}

#gist label {
  font-size: 9px;
  color: #68696e;
}

.gist {
  display: flex;
  flex-direction: column;
}
.gist h2 {
  margin-bottom: 15px;
}

canvas {
  margin-left: -27px;
  min-width: 450px;
}
.label {
  display: none;
}
.color_l {
  background-color: #66cc99;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  margin-bottom: 9px;
  display: none;
}

.b {
  background-color: #e5e5e5;
}
@media (max-width: 1150px) {
  .row {
    display: grid;
    justify-content: space-between;
    column-gap: 20px;
    grid-template-columns: repeat(2, minmax(min-content, 372px));
    justify-content: center;
    align-content: start;
  }
}
@media (max-width: 840px) {
  .row {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(1, minmax(min-content, 372px));
    justify-content: center;
    align-content: start;
  }
}
