* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  display: block;
}
.header {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: block;
  margin-right: 15px;
  min-width: 122px;
  min-height: 55px;
  background: no-repeat center url("/assets/Fairo_logo_black.svg");
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu li a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #636e7b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  vertical-align: middle;
}
.menu li a:hover {
  color: #6868c5;
  font-weight: 900;
}

.menu li {
  margin-right: 10em;
  margin-bottom: 0;
}

.menu li:nth-last-child(1) {
  margin-right: 0;
}

.nav {
  display: flex;
  align-items: center;
  padding: 35px 0;
  height: 55px;
}
nav li {
  height: 14px;
}

/* map style */
.map {
  margin: 15px 0;
  margin-bottom: 20px;
  border: 8px solid #6fbe95;
  border-radius: 4px;
}

.st0 {
  fill: #ffffff;
  stroke: #6fbe95;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #676766;
}
.st2 {
  font-family: "PTSans-Bold";
}
.st3 {
  font-size: 16px;
}
.st4 {
  font-size: 12px;
}
.st5 {
  opacity: 0.7;
}
.st6 {
  fill: transparent;
  stroke: transparent;
  stroke-width: 8;
  stroke-miterlimit: 10;
}
.st6:hover {
  fill: transparent;
  stroke: #6fbe95;
  stroke-width: 8;
  stroke-miterlimit: 10;
}
.st6:active {
  fill: rgba(22, 163, 190, 0.3);
  stroke: #6fbe95;
  stroke-width: 8;
  stroke-miterlimit: 10;
}
/* FOOTER top*/

.footer__top {
  background-color: #6868c5;
  padding: 48px 0;
  position: relative;
}
.footer__row {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(3, minmax(min-content, 372px));
  justify-content: stretch;
  align-content: start;
}

.pavil img {
  width: 15px;
  height: 18px;
  margin-right: 2px;
}
.footer__top h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

canvas {
  max-width: 450px;
}

/* columns 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
}
.block-left p {
  padding-bottom: 5px;
  text-align: left;
  margin: 0;
}
.block-left img {
  display: flex;
  height: auto;
  margin: 0;
  margin-right: 5px;
}

.flex.stat {
  flex-direction: column;
}
.flex.b {
  margin-top: 10px;
}
.stat {
  display: flex;
  margin-top: 94px;
  align-items: center;
}

.stat .btn {
  display: block;
  align-items: center;
  width: 85px;
  height: 40px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 32px;
  background: #fff;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #66cc99;
  align-items: center;
  margin-right: 15px;
}

.stat .btn:hover {
  background-color: #666666;
}
.footer__top h1 {
  margin-bottom: 25px;
}
.pavil li {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
}
.stat h2 {
  margin-bottom: 0px;
}
.btn {
  width: 65px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 32px;
  background: #fff;
  color: #66cc99;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

/* TABLE */
table {
  table-layout: fixed;

  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 1%;
}

thead th:nth-child(2) {
  width: 1%;
}

thead th:nth-child(3) {
  width: 1%;
}

thead th:nth-child(4) {
  width: 1%;
}
.full {
  background: #66cc99;
}
.r {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.l {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th,
td {
  padding: 5px 30px 5px 10px;
}

/* FOOTER */

.footer {
  background-color: #6868c5;
}

.footer .logo {
  display: block;
  margin-right: 15px;
  min-width: 122px;
  min-height: 55px;
  background: no-repeat center url("/assets/Fairologowhite.svg");
}

.footer .menu {
  display: flex;
  flex-direction: column;
}
.footer span {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
}
.social {
  padding: 24px 0;
}
.footer .menu ul {
  display: flex;
}
.footer .menu a {
  display: block;
  width: 48px;
  height: 48px;
}

.footer .menu li {
  margin-right: 36px;
}

.footer .menu li:last-child {
  margin-right: 0;
}
.footer .logo {
  display: block;
  margin-right: 15px;
  min-width: 122px;
  min-height: 55px;
  background: no-repeat center url("/assets/Fairo_logo_white.svg");
}

.facebook {
  background: no-repeat top center url("../assets/Telegram_white.svg");
  border: 2px solid transparent;
}
.instagram {
  background: no-repeat top center url("../assets/Viber_white.svg");
  border: 2px solid transparent;
}
.pinterest {
  background: no-repeat top center url("../assets/Github.svg");
  border: 2px solid transparent;
}
.telegram {
  background: no-repeat top center url("../assets/Figma_white.svg");
  border: 2px solid transparent;
}

.facebook:hover,
.instagram:hover,
.pinterest:hover,
.telegram:hover {
  border: 2px solid #66cc99;
  border-radius: 50%;
  background-color: transparent;
}

.facebook:hover {
  background: no-repeat top center url("../assets/Telegram_white.svg");
}

.instagram:hover {
  background: no-repeat top center url("../assets/Viber_white.svg");
}
.pinterest:hover {
  background: no-repeat top center url("../assets/Github.svg");
}

.telegram:hover {
  background: no-repeat top center url("../assets/Figma_white.svg");
}
.facebook:active,
.instagram:active,
.pinterest:active,
.telegram:active {
  border: 2px solid #66cc99;
}

.statistik {
  position: absolute;
  width: 25%;
  height: 5%;
  font-size: 18px;
  top: -2%;
  left: 38%;
  border-radius: 32px;
  background-color: #6868c5;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1150px) {
  .footer__row {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(2, minmax(min-content, 372px));
    justify-content: stretch;
    align-content: start;
  }
}
@media (max-width: 840px) {
  .footer__row {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(1, minmax(min-content, 372px));
    justify-content: center;
    align-content: start;
  }
}

@media screen and (max-width: 1050px) {
  header .topnav li {
    display: none;
  }
  .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    margin-left: -12px;
    left: 50%;
    width: 24px;
    height: 4px;
    background-color: #636e7b;
  }

  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
  }
  .menu-btn span::before {
    transform: translateY(-7px);
  }
  .menu-btn span::after {
    transform: translateY(7px);
  }
  .menu-btn:hover span,
  .menu-btn:hover span::before,
  .menu-btn:hover span::after {
    background-color: #6868c5;
  }
  header .responsive {
    height: 400px;
    margin-top: -172px;
  }
  header .responsive .menu {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: #fff;
    text-align: right;
    z-index: 99;
    align-items: flex-end;
    margin-right: -40px;
  }
  header .responsive .menu li {
    display: block;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    text-align: right;
  }
  header .responsive ul {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .nav_active {
  }
}
